extends ../layouts/responsive

block title
  title 预定产品 | AKESO

block requirejs
  script
    :coffee-script
      requirejs ['/assets/js/application.js'], (app) ->
        requirejs ['app/orders_new'], (ui) ->
          ui.init()

block content
  .container.margin-nav.page
    .step.container
      .info-bar
        .container
          .price(
            data-price="0"
          )
            span 价格
            | ￥0
          .right
            a.button.blue.inverted#nextToStep2(
              data-target="StepTwo"
              disabled="disabled"
            )
              | 填写信息 
              +fa('angle-right')
      .content#step-1
        h3.title
          | 选择款式 
          
        each type in types
          a.type(
            data-price= type.price
            data-type= type.shortcut
          )
            .img
              img.origin(id="#{type.shortcut}" src="#{type.colors[0].photo.positive}")
              img.real(src= type.real)
            .type-name
              = type.name
              p.des= type.des
              span.number
                = type.price
                |  元

     
block footer