extends ../layouts/responsive

block title
  title
    | #{data.name} | 商品详情

block requirejs
  script
    :coffee-script
      requirejs ['/assets/js/application.js'], (app) ->
        requirejs ['app/orders_type'], (ui) ->
          ui.init()

block content
  .container.margin-nav.page
    .gt(data-type= data.name) 商品详情
    .img
      img#colorImg(src= data.colors[0].photo.positive)
      .divider
      img(src= data.layout.side)
      img(src= data.layout.main)
    .info
      h1.title AKESO - 1 成长版
      .group
        .label 款式
        .data
          != data.name
          a.floated.right(href="/orders/new") 修改
      .group
        .label 颜色
        .data.colors
          each color in data.colors
            if color == data.colors[0]
              a.color.selected(
                data-img= color.photo.positive
              )
                img(src=CDN(color.photo.color))
                != color.name
            else
              a.color(
                data-img= color.photo.positive
              )
                img(src=CDN(color.photo.color))
                != color.name
      .group
        .data.glasses
          a.glass.selected(
              data-price="0"
            )
            .name
              | 不选配镜片
              .price.floated.right
                | #{data.price}元

          each g in glass
            a.glass(
              data-price= g.value
            )
              .name= g.name
              .des
                != g.des
                .price.floated.right
                  | +
                  span= g.value
                  | 元
              .message= g.message
      .group.total-price
        .data
          | 总价格
          .floated.right
            span#total #{data.price}
            | 元
        a.button.inverted.blue.submit 免费预订
  .modal.flex#info-modal
    a.close-btn
      +fa("close")
    include info