extends ../layouts/responsive

block title
  title 联系我们 | AKESO

block requirejs
  script
    | requirejs(['/assets/js/application.js'], function(app){
    |  requirejs(['app/about_us']);
    | });

block content
  article.container.margin-nav.clearfix

   
   .left 
      h3 联系我们
      p
        | 公司地址：北京市东城区崇文门外大街3号新世界A座804(地铁5号线崇文门D口)
        br
        | 邮政编码：100102
        br
        | 联系电话：010-67082838
      p 
        | 公司邮箱：
        a(href="mailto:akeso@akeso.cn") akeso@akeso.cn
        br
        | 客服微信号：AkesoEvecare

      img(src=CDN("/assets/images/mask-bitmap.png"))
    
    .group.right
      .logo.weibbo
        img(src=CDN("/assets/images/bitmap@2x.png"))
      .code
        a(href="http://weibo.com/akesoeyecare")
          img(src=CDN("/assets/images/1117.png"))
          | AKESO_eyecare
    .group.right
      .logo.wx
        img(src=CDN("/assets/images/update-logo@2x.png"))
        |  官方微信
      .code
        img(src=CDN("/assets/images/qrcode.jpg"))
      .logo.wx
        img(src=CDN("/assets/images/update-logo@2x.png"))
        |  艾索健康顾问
      .code
        img(src=CDN("/assets/images/doctor.png"))
      .divider.right
    


    