extends ../layouts/responsive

block title
  title AKESO-1 | 眼镜，从未如此创新

block requirejs
  script
    | requirejs(['/assets/js/application.js'], function(app){
    |  requirejs(['app/production_detail']);
    | });

block content
  .page
    .detail-nav
      .container.clearfix
        .name.left
          | AKESO 1
        .items.right(style="padding-top: 5px")
          a.item.button.blue.right.inverted(href="/orders/new" style="min-width: 80px !important;width: 100px;padding: 10px 15px;")
            span 立即预定
    .detail-page
      section#page-1
        .text
          .timeago 1286 - 2015
          .title(style="text-align:center !important;") 眼镜，从未如此创新。
          img.glass(src=CDN("/assets/images/detail/index_03.png"))
          .version
            img(src=CDN("/assets/images/detail/akeso_1.svg"))
          .sub-title
            p 从1286年诞生至今，眼镜一直在人类文明中扮演着重要的角色。
            p 如今，随着科技的发展，我们大胆畅想，眼镜不再只是矫正视力的工具，而是成为眼睛健康的守护者。 
            p 从你戴上 AKESO-1 的那一刻起，通过眼镜改善眼健康，将成为可能。
      section#page-2
        .text
          .version 智能
          .title 
            | 紫外线、强光、眼周湿度、坐姿，
            br
            | 危害眼健康的每处风险，它都知道。
          .sub-title 你的眼睛无比重要，危害它的风险却无处不在。 为了解这些风险，我们创新性地将眼镜智能化，通过眼镜腿中数个传感器的协作，实现了对环境数据的实时监测。无论是在家、户外、办公室或是学校，都让你对潜在的眼健康风险了如指掌。
      section#page-3
        .text
          .version 健康
          .title 
            | 源自专业眼科团队，
            br
            | 给你有效护眼指导。
          .sub-title 健康是件大事，因此专业的建议格外重要。AKESO-1 的功能设计由眼科专家团队主导，能够对环境风险、疲劳程度、运动量等数据进行实时分析，并给出针对性的专业护眼指导，为你带来切实的眼健康改善。
      section#page-4
        .text
          .version 舒适
          .title 
            | 不重，不紧，
            br
            | 不硌，不晃
          .sub-title 眼镜每天与你相伴，因此贴合度格外重要。 AKESO-1 结合视光工程学和人体工程学进行了多处优化。在减轻重量感的同时，更保证了完美的镜片适配，让你拥有舒适无比的佩戴体验
          .icons
            .icon
              img(src=CDN("/assets/images/detail/icon_15.png"))
              | 脸型贴合
            .icon
              img(src=CDN("/assets/images/detail/icon_17.png"))
              | 耳根贴合
            .icon
              img(src=CDN("/assets/images/detail/icon_19.png"))
              | 气囊鼻托
          .icons
            .icon
              img(src=CDN("/assets/images/detail/icon_24.png"))
              | 力度适中
            .icon
              img(src=CDN("/assets/images/detail/icon_25.png"))
              | 精确瞳距
            .icon
              img(src=CDN("/assets/images/detail/icon_26.png"))
              | 最佳眼距
      section#page-5
        .text
          .version 用料与做工
          .title 
            | 优选用料，精雕细琢，
            br
            | 方能久用如新。
          .sub-title 一副好眼镜，要经得起时间的考验。为此，AKESO-1 的每处用料都经过了反复挑选，结合自主设计的专利铰链，经钟表级加工中心精细加工，带来了高水平的质感与耐用度。无论怎样的重要时刻， AKESO-1 都能陪你一起度过。
      section#page-6
        .text
          .version 设计
          .title 
            | 款款经典，
            br
            | 为你的颜值再加一分。
          .sub-title 每个人都是充满个性的个体，量体裁衣才能真正彰显品位,眼镜也是如此。 AKESO-1 参考了众多经典的眼镜款式，结合亚洲人的脸型、头围等数据进行反复优化。用最经典的款式，打造出最适合你的眼镜。
      section#page-7
        .container
          .text.left
            .version 服务
            .title 
              | 为追求品质的你，
              br
              | 选配享誉世界的镜片。
            .sub-title
              p 科技含量与光学品质决定了镜片的好坏，顶级的镜片带来更出色的视觉质量，更轻薄美观的佩戴体验，更全面的防护功能。
              p 传统眼镜店的顶级镜片售价高昂，令人望而却步。
              p 然而，眼睛的健康是无价的。
              p 我们决定做些什么来改变这一现状：
              p
                b 用远低于市售价的价格，
              p
                b 为每一位艾索的会员选配
              p
                b 经世界眼视光专家广泛认可的顶级镜片。

          .text.right
            img(src=CDN("/assets/images/detail/buy_card_11.png"))
            img(src=CDN("/assets/images/detail/buy_card_14.png"))
            a.sub-title(href="http://www.zeiss.com.cn/vision-care/zh_cn/products-services/spectacle-lenses.html")
              | 了解卡尔蔡司镜片 >
      section#page-8
        .container
          .text.left
            img(src=CDN("/assets/images/detail/buy_card_17.png"))
            img(src=CDN("/assets/images/detail/buy_card_20.png"))
            img(src=CDN("/assets/images/detail/buy_card_22.png"))
           .text.right
            .version 购买
            .sub-title
              p 我们的成长离不开您的支持，
              p 为表答谢，所有最终付款成功购买 AKESO-1 成长版的用户，
              p 将在半年内，收到我们免费赠送的 AKESO-1 正式版眼镜一副。
            a.sub-title(href="/orders/new")
              | 前往预约购买页面 >