include ../mixin

doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    block title
      title AKESO | 艾索健康科技
    link(rel="stylesheet" href=CDN("/assets/css/vendor.css"))
    link(rel="stylesheet" href=CDN("/assets/css/application.css"))
    script(src=CDN("/assets/js/lib/modernizr.js"))
    script(src=CDN("/assets/js/lib/require.js"))
    meta(name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=no")
    block requirejs
  - var bodyClass = [controller, action].join(" ")
  body(class= bodyClass)
    block navbar
        include ../components/navbar
    block content
    block footer
        include ../components/footer
    #cnzz
      script(src="http://s95.cnzz.com/z_stat.php?id=1256781609&web_id=1256781609" language="Javascript")